{% include 'layout.html' %} {% block title%}<title>user dashboard</title
    >{%endblock%}


<!--============= Page Header Section Starts Here =============-->
<section class="page-header">
    <div
        class="banner-bg bg_img"
        data-background="{{url_for('static', path='/assets/images/banner/banner-bg.jpg')}}"
    >
        <div class="banner-bg-shape">
            <img src="{{url_for('static', path='/assets/images/banner/banner-shape.png')}}" alt="banner" />
        </div>
        <div class="round-1">
            <img src="{{url_for('static', path='/assets/images/banner/01.png')}}" alt="banner" />
        </div>
        <div class="round-2">
            <img src="{{url_for('static', path='/assets/images/banner/02.png')}}" alt="banner" />
        </div>
    </div>
    <div class="container">
        <div class="hero-content">
            <h1 class="title">User dashboard</h1>
        </div>
    </div>
</section>







 <h1>Dashboard page</h1>
<h1>Dashboard page</h1>
<h1>Dashboard page</h1>
<h1>Dashboard page</h1>
<h1>Dashboard page</h1>
<h1>Dashboard page</h1>

<h2>Welcome, "{{user.username}}"</h2>
<h2>Welcome, "{{user.username}}"</h2>
<h2>Welcome, "{{user.username}}"</h2>
<h2>Welcome, "{{user.username}}"</h2>
<h2>Welcome, "{{user.username}}"</h2>
